<div class="container">
  <div class="input-field">
    <form [formGroup]="searchForm">
      <input formControlName="search" type="text" id="search">
      <label for="search">Github user search</label>
    </form>
  </div>

  <div class="row">
    <div class="col s6 offset-s3">
      <div *ngFor="let profileData of data" class="card">
        <div class="card-image">
          <img src="{{profileData.avatar_url}}" alt="profile image"/>
          <span class="card-title">{{profileData.login}}</span>
        </div>
        <div class="card-action">
          <a href="{{profileData.html_url}}" target="_blank">Open github</a>
        </div>
      </div>
    </div>
  </div>
</div>


